.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $accent-yellow;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 2.1rem;
  border-radius: 7.9rem;

  opacity: 1;
  transition: all 0.3s;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &--clear {
    width: 5.9rem;
    height: 5.9rem;
    background-image: url("../../assets/images/icon-trashcan.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2.5rem 2.5rem;
    background-color: $accent-yellow;
    border-radius: 50%;
  }
}

@media (max-width: 860px) {
  .btn {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 2rem 3rem;
  }
}
