.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $accent-yellow;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 2.1rem;
  border-radius: 7.9rem;

  opacity: 1;
  transition: all 0.3s;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

@media (max-width: 860px) {
  .btn {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 2rem 3rem;
  }
}
