.catalog {
  margin-bottom: 10.2rem;
  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  &__inner {
    display: grid;
    grid-template-columns: 23.8rem 99.9rem;
    grid-gap: 10.8rem;
  }

  &__text {
    margin-bottom: 10rem;
  }

  &__clear-search-btn {
    background-color: $accent-green;
  }
}
