.header {
  min-height: 17rem;

  &__container {
    padding: 0;
  }

  &__top {
    border-bottom: 0.1rem solid $border-gray;
  }
  &__wrapper {
    padding: 1.4rem 0 1.3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  &__blocks {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__block-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 2rem;
  }

  &__block-wrapper:not(:last-child) {
    border-right: 0.1rem dashed rgba(63, 78, 101, 0.1);
  }
  &__block-wrapper:not(:first-child) {
    padding-left: 2rem;
  }

  &__icon-img {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
  }
  &__address-top,
  &__email-top {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;

    color: $black;
  }
  &__address-bottom,
  &__email-bottom {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid $border-gray;
  }

  &__logo {
    margin-right: 3.8rem;
  }

  &__catalog-btn {
    background-image: url("../../assets/images/icon-catalog.svg");
    padding: 2.1rem 8.1rem 2.1rem 5.4rem;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: 72% 50%;
    margin-right: 1.5rem;
  }

  &__search {
    margin-right: 1.5rem;
  }

  &__contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2.5rem;
  }
  &__contact-info {
    margin-right: 1.4rem;
    text-align: right;
  }

  &__contact-phone {
    font-weight: 600;
    text-decoration: none;
    color: $black;
  }
  &__contact-time {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  &__contact-order {
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration-line: underline;
    border: none;
    background: transparent;
    color: $gray;
  }

  &__contact-operator {
    width: 7rem;
    height: 9.2rem;
    overflow: hidden;
    margin-bottom: 1.2rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  &__operator-avatar {
    object-fit: cover;
    position: relative;
    z-index: 1;
  }

  &__operator-status {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.2rem solid #f0f6fa;
    border-radius: 50%;
    background: $accent-green;

    z-index: 10;
    top: 2.5rem;
    right: 0.5rem;
  }

  &__pricelist-btn {
    background-image: url("../../assets/images/icon-download.svg");
    padding: 2.1rem 7.3rem 2.1rem 4.3rem;
    background-size: 1.7rem 1.7rem;
    background-repeat: no-repeat;
    background-position: 75% 50%;
  }

  &__cart-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__cart-link {
    position: relative;
    margin-right: 2.4rem;
  }

  &__cart-img {
    width: 4.6rem;
    height: 4.6rem;
  }

  &__cart-quantity {
    position: absolute;
    z-index: 10;
    bottom: 3rem;
    right: -1rem;
    width: 2.8rem;
    height: 2.8rem;
    background-color: $accent-yellow;
    color: #ffffff;
    font-weight: 700;
    border: 0.3rem solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  &__cart-text {
    display: block;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  &__cart-total {
    display: block;
    font-weight: 600;
    color: $black;
  }
}

@media (max-width: 740px) {
  .header {
    &__nav {
      flex-wrap: wrap;
    }
  }
}
