.product {
  &__wrapper {
    padding: 1.5rem 1.9rem 6rem 1.9rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
  &__img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
  }

  &__availability {
    display: inline-block;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $accent-green;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 3rem;
    line-height: 4.5rem;
    color: $black;
    font-weight: 400;
    margin-bottom: 1rem;
    span {
      display: inline-block;
      font-weight: 800;
      margin-right: 0.5rem;
    }
  }

  &__volume {
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  &__volume-img {
    margin-right: 0.5rem;
    &--bottle {
      margin-right: 1rem;
    }
  }

  &__cart-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__price {
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.9rem;

    color: $black;
    margin-right: 4rem;
  }

  &__count-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
  }

  &__btn-count {
    width: 3.4rem;
    height: 2.3rem;
    background: $yellow-gradient;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 100rem;

    text-align: center;
    border: none;
    cursor: pointer;
  }

  &__count {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 0 2.1rem;
  }

  &__cart-btn {
    min-width: 18.4rem;
    padding: 2.1rem 3.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  &__extra {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.5rem;
  }

  &__share-btn,
  &__extra-delivery-wrapper,
  &__pricelist {
    background: #ffffff;

    box-shadow: 0.1rem 1.5rem 7rem -1.1rem rgba(43, 28, 1, 0.04);
    border-radius: 1rem;
    min-height: 7.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-right: 1rem;
  }

  &__share-btn {
    img {
      width: 2.4rem;
      height: 2.4rem;
    }
    cursor: pointer;
  }

  &__extra-delivery-wrapper {
    padding: 2rem 3.5rem;
    max-width: 31.6rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;

    span {
      font-weight: 700;
    }
  }

  &__pricelist {
    min-width: 18.6rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $gray;
    background-image: url("../../assets/images/icon-download-dark.svg");
    padding: 3rem 5.4rem 3rem 3.7rem;
    background-size: 1.7rem 1.7rem;
    background-repeat: no-repeat;
    background-position: 80% 50%;
  }

  &__data {
    margin-bottom: 3rem;
  }

  &__data-row {
    margin-bottom: 0.5rem;
  }

  &__data-name {
    display: inline-block;
    font-weight: 300;
    margin-right: 0.5rem;
  }

  &__data-value {
    font-weight: 500;
    color: $black;
  }

  &__descr:not(:last-child) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 29.9rem;
      height: 0.1rem;
      border-bottom: 0.1rem dashed rgba(63, 78, 101, 0.3);
      bottom: 0;
      left: 0;
    }
  }

  &__descr-title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 2rem 0;
    color: $black;
    cursor: pointer;
    list-style: none; // Remove the default arrow.
    display: flex;
    align-items: center; // Vertically center the arrow.
    padding-right: 0.5rem;
  }

  &__descr-title::-webkit-details-marker {
    display: none;
  }

  &__descr-title::after {
    content: "▲";
    font-size: 1rem;
    padding-left: 1rem;
  }

  &__descr[open] .product__descr-title::after {
    content: "▼";
  }

  &__details-text {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-bottom: 2rem;
  }
}
