.search {
  position: relative;
  width: 26.3rem;

  &__input {
    width: 100%;
    padding: 2rem 6rem 2rem 2rem;
    background: $lightgray;
    color: $mediumgray;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    border-radius: 3.6rem;
    border: none;
  }

  &__input::placeholder {
    color: $mediumgray;
  }

  &__btn {
    position: absolute;
    right: 1rem;
    top: 0.9rem;
    width: 3.9rem;
    height: 3.9rem;
    background-image: url("../../assets/images/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.8rem 1.8rem;
    background-color: $accent-yellow;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
}
