$black: #111111;
$gray: #3f4e65;
$mediumgray: rgba(92, 99, 112, 0.6);
$lightgray: #ededed;

$accent-yellow: #ffc85e;
$accent-green: #1fd85d;

$yellow-gradient: linear-gradient(
  90deg,
  rgba(255, 198, 80, 0.3) 0%,
  rgba(254, 202, 110, 0.3) 97.25%
);
$border-gray: rgba(63, 78, 101, 0.2);

$duration: 0.15s;
